@tailwind base;
@tailwind components;
@tailwind utilities;

.sider-style {
  background-color: rgb(243, 246, 243) !important;
  border-right: 1px solid lightgray !important;
  box-shadow: 2px 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 1rem 0 !important;
  transition: all 0.3s ease !important;
  overflow-x: hidden !important;
}

.sider-menu-style {
  color: hsl(var(--primary)) !important;
  background-color: inherit !important;
  font-weight: 500;
  border-radius: var(--radius) !important;
  transition: background-color 0.3s ease !important;
  padding: 3px 0 I !important;
  overflow-x: hidden !important;
}

.sider-menu-style:hover {
  color: hsl(var(--primary-foreground)) !important;
}

/* Media query for small devices */
@media (max-width: 640px) {
  .sider-style {
    padding: 0.5rem 0 !important;
    box-shadow: none !important;
  }

  .sider-menu-style {
    padding: 2px 0 !important;
  }
}

.toast-success {
  background-color: #38a169 !important; /* Green */
}

.toast-error {
  background-color: #e53e3e !important; /* Red */
  color: white;
}

.toast-warning {
  background-color: #d69e2e !important; /* Yellow */
}

.toast-info {
  background-color: #3182ce !important; /* Blue */
}

.toast-common {
  padding: 16px !important;
  border-radius: 8px !important;
  color: white !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
